## APP Config
APP_NAME=MicroFramework

## DB Connection
DB_CONN=pgsql
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

## CORS
ALLOWED_ORIGINS=http://127.0.0.1
CORS=1

## EXPIRE TOKEN
TOKEN_EXPIRES=1 hour